div.title {
    @extend .text-center;
    @extend .jumbotron;
}


div.main {
    @include make-row();

    .sidebar {
        @include make-sm-column(2);
    }
    .main-content {
        @include make-sm-column(10);
    }

    .full-content {
        @include make-sm-column(12);
    }
}


.roll-result {
    @extend .text-center;
}


.inline {
    display: inline;
}


.btn {
    border-radius: 0;
}


.fraction {
    display: inline-block;
    position: relative;
    vertical-align: middle;
    letter-spacing: 0.001em;
    text-align: center;
    font-size: 1.5em;
    > span {
        display: block;
    }
    span.fraction-denominator {
            border-top: thin solid black;
    }
    span.fraction-bar {
            display: none;
    }
}


/* Hide spinners for Firefox */
input[type=number] {
    -moz-appearance: textfield;
}


/* Hide spinners for Chrome */
input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}


/*
  Allow angular.js to be loaded in body, hiding cloaked elements until
  templates compile.  The !important is important given that there may be
  other selectors that are more specific or come later and might alter display.
 */
[ng\:cloak], [ng-cloak], .ng-cloak {
    display: none !important;
}

td, td > * {
    vertical-align : middle !important;
}

ul {
    margin-bottom: 0 !important;
}
