# Frontend
frontend/bower_components
frontend/node_modules
frontend/build
frontend/app
frontend/dist
npm-debug.log

# Backend
*.pyc
*.sqlite3
.venv
__pycache__
backend/staticfiles
backend/external_data/5e-bestiary

# Generic
.*
!.gitignore
!.jshintrc
!.github/