[Unit]
Description=Combat tracker
After=nginx.service

[Service]
Type=simple
User=combat_tracker
Group=www-data
WorkingDirectory=/opt/combat_tracker
ExecStart=/usr/bin/uwsgi --ini /opt/combat_tracker/uwsgi.ini
Restart=always

[Install]
WantedBy=multi-user.target
