[Unit]
Description=Combat tracker
After=nginx.service

[Service]
Type=simple
User=combat_tracker
Group=combat_tracker
WorkingDirectory=/opt/combat_tracker
ExecStart=/opt/combat_tracker/.venv/bin/uwsgi --ini /opt/combat_tracker/uwsgi.ini
Restart=always

[Install]
WantedBy=multi-user.target
