<h1>{{ encounter.name }}</h1>

<ng-include src="'templates/encounters-detail-add.html'"></ng-include>
<ng-include src="'templates/encounters-detail-pending-init.html'"></ng-include>

<div class="panel panel-default" ng-show="activeCharacters().length > 0">
    <div class="panel-heading">
        <button ng-click="advanceInit()" class="btn btn-info btn-sm">Advance initiative</button>
        round {{ encounter.current_round }}
    </div>
    <table class="table table-bordered table-striped" ng-show="encounter.characters.length > 0">
        <thead>
            <tr>
                <th>Name</th>
                <th>Notes</th>
                <th>Initiative</th>
                <th>HP</th>
                <th>Status effects</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr
                class="animate-repeat"
                ng-class="{info: character.initiative === encounter.current_initiative}"
                ng-repeat="character in activeCharacters() | orderBy : '-initiative' track by $index"
            >
                <td>
                    <span ng-if="character.is_player || character.description.length == 0">
                        {{ character.name }}
                    </span>
                    <span ng-if="!character.is_player && character.description.length > 0">
                        <a href ng-click="showCharacterModal(character)">{{ character.name }}</a>
                    </span>
                </td>
                <td>
                    <span ng-hide="character.is_player">
                        <a href editable-text="character.notes" onbeforesave="updateCharacter(character)">{{ character.notes || '...' }}</a>
                    </span>
                </td>
                <td>
                    {{ character.initiative }}
                    <div class="pull-right">
                        <button class="btn btn-default btn-xs" ng-click="increaseInitiative(character)"><i class="glyphicon glyphicon-arrow-up"></i></button>
                        <button class="btn btn-default btn-xs" ng-click="decreaseInitiative(character)"><i class="glyphicon glyphicon-arrow-down"></i></button>
                    </div>
                </td>
                <td>
                    <span ng-if="!character.is_player">
                        <div class="fraction">
                            <span class="fraction-numerator">
                                {{ character.current_hp }}
                            </span>
                            <span class="fraction-bar">
                                /
                            </span>
                            <span class="fraction-denominator">
                                {{ character.max_hp }}
                            </span>
                        </div>
                        <form class="form-inline inline">
                            <div class="input-group">
                                <div class="input-group-btn">
                                    <button class="btn btn-warning" ng-click="hurtCharacter(character)">Hurt</button>
                                </div>
                                <input class="form-control" type="number" ng-model="character.hp_change_value">
                                <div class="input-group-btn">
                                    <button class="btn btn-success" ng-click="healCharacter(character)">Heal</button>
                                </div>
                            </div>
                        </form>
                    </span>
                </td>
                <td>
                    <button class="btn btn-default" ng-click="showAddStatusModal(character)">Add status effect</button>
                    <ul class="list-group status-effects" ng-show="character.status_effects.length > 0">
                        <li  class="list-group-item status-effect" ng-repeat="status in character.status_effects">
                            {{ status.name }}, {{ status.remaining_duration }} turns remaining <button class="btn btn-danger btn-sm" nh-confirm-click="removeStatus(status)"><i class=" glyphicon glyphicon-remove"></i></button>
                        </li>
                    </ul>
                </td>
                <td>
                    <button class="btn btn-danger" nh-confirm-click="removeCharacter(character)">Remove</button>
                </td>
            </tr>
        </tbody>
    </table>
    <div class="panel-footer">
        <button ng-click="advanceInit()" class="btn btn-info btn-sm">Advance initiative</button>
    </div>
</div>


<div class="row">
    <div class="col-sm-12">
        <button nh-confirm-click="end()" class="btn btn-danger">End this encounter</button>
    </div>
</div>


<script type="text/ng-template" id="characterDetailsModal.html">
    <div class="modal-header">
        <h3 class="modal-title">{{ character.name }}</h3>
    </div>
    <div class="modal-body">
        <div marked="character.description" compile="true"></div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" type="button" ng-click="ok()">OK</button>
    </div>
</script>


<script type="text/ng-template" id="addStatusEffect.html">
    <div class="modal-header">
        <h3 class="modal-title">Add status to {{ character.name }}</h3>
    </div>
    <div class="modal-body">
        <form class="form" role="form" ng-submit="add()">
            <label class="control-label" for="name">Name</label>
            <input class="form-control" type="text" name="name" ng-model="status_effect.name">

            <label class="control-label" for="duration">Duration</label>
            <input class="form-control" type="text" name="duration" ng-model="status_effect.remaining_duration">
        </form>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" type="button" ng-click="add()">Add</button>
        <button class="btn btn-default" type="button" ng-click="cancel()">Cancel</button>
    </div>
</script>
