
<div class="panel panel-default">
    <div class="panel-heading">
        Add a character
    </div>
    <div class="panel-body">
        <div ng-hide="addPlayer || addNPC">
            <input type="button" class="btn btn-default" ng-click="addNewPlayerCharacter()" value="Add a player"> or
            <input type="button" class="btn btn-default" ng-click="addNewNonPlayerCharacter()" value="Add a NPC">
        </div>
        <div class="help-block" ng-show="addPlayer || addNPC">
            Leave initiative blank to prepare this character but not add to the encounter
        </div>
        <form class="form-inline" role="form" ng-submit="addCharacter()" ng-show="addPlayer">
            <div class="form-group input-group-md" ng-class="{ 'has-error': newCharacterErrors.character }">
                <label class="control-label" for="add_character">Player</label>
                <select
                    class="form-control"
                    name="add_character"
                    ng-model="newCharacter.url"
                    ng-options="character.url as character.name for character in players track by character.url"
                ></select>
            </div>
            <div class="form-group input-group-md" ng-class="{ 'has-error': newCharacterErrors.name }">
                <label class="control-label" for="initiative">Initiatve</label>
                <input class="form-control" type="number" name="initiative" ng-model="newCharacter.initiative">
            </div>
            <div class="form-group">
                <input class="btn btn-primary" type="submit" value="Add" />
                <input type="button" class="btn btn-danger" type="submit" value="Cancel" ng-click="cancelAddCharacter()"/>
            </div>
        </form>
        <br>
        <form class="form-inline" role="form" ng-submit="addCharacter()" ng-show="addNPC">
            <div class="form-group input-group-md" ng-class="{ 'has-error': newCharacterErrors.character }">
                <label class="control-label" for="add_character">NPC</label>
                <select
                    class="form-control"
                    name="add_character"
                    ng-model="newCharacter.url"
                    ng-options="character.url as character.name for character in npcs track by character.url"
                ></select>
            </div>
            <div class="form-group input-group-md" ng-class="{ 'has-error': newCharacterErrors.name }">
                <label class="control-label" for="initiative">Initiatve</label>
                <input class="form-control" type="number" name="initiative" ng-model="newCharacter.initiative">
            </div>

            <div class="form-group input-group-md" ng-class="{ 'has-error': newCharacterErrors.notes }">
                <label class="control-label" for="notes">Notes</label>
                <input class="form-control" type="text" name="notes" ng-model="newCharacter.notes">
            </div>

            <div class="form-group input-group-md">
                <label class="control-label" for="quantity">Quantity</label>
                <input class="form-control" type="number" min="1" name="quantity" ng-model="newCharacter.quantity">
            </div>

            <div class="form-group">
                <input class="btn btn-primary" type="submit" value="Add" />
                <input type="button" class="btn btn-danger" type="submit" value="Cancel" ng-click="cancelAddCharacter()"/>
            </div>
        </form>
    </div>
</div>
