[Unit]
Description=Platform Agnostic Combat Tracker (PACT)
After=nginx.service

[Service]
Type=simple
User=pact
Group=www-data
WorkingDirectory=/opt/pact
ExecStartPre=/opt/pact/.venv/bin/pip install -r /opt/pact/backend/requirements.txt --upgrade
ExecStartPre=/opt/pact/.venv/bin/python /opt/pact/backend/pact/manage.py migrate
ExecStartPre=/opt/pact/.venv/bin/python /opt/pact/backend/pact/manage.py collectstatic --clear --noinput
ExecStartPre=/bin/bash -c 'cd frontend && npm install'
ExecStartPre=/bin/bash -c 'cd frontend && npm update'
ExecStartPre=/bin/bash -c 'cd frontend && ./node_modules/.bin/bower install'
ExecStartPre=/bin/bash -c 'cd frontend && npm run grunt'
ExecStart=/opt/pact/.venv/bin/gunicorn --config /opt/pact/services/common/gunicorn_config.py pact.wsgi:application
Restart=always

[Install]
WantedBy=multi-user.target
