[Unit]
Description=Platform Agnostic Combat Tracker (PACT)
Requires=pact.socket
After=nginx.service network.target

[Service]
Type=simple
User=pact
Group=nginx
WorkingDirectory=/opt/pact/backend
ExecStart=/opt/pact/.venv/bin/gunicorn --config /opt/pact/services/common/gunicorn_config.py pact.wsgi:application
Restart=always
ExecReload=/bin/kill -s HUP $MAINPID
ExecStop=/bin/kill -s TERM $MAINPID
PrivateTmp=true

[Install]
WantedBy=multi-user.target
