<!doctype html>
<html lang="en" ng-app="combatTracker">
<head>
    <meta charset="UTF-8">
    <script src="js/combat_tracker.js"></script>
    <link href="css/combat_tracker.css" rel="stylesheet">
    <title>d20 combat tracker</title>
</head>
<body ng-controller="ApplicationCtrl">
    <div class="title">
        <div class="page-header">
            <h1>Combat Tracker <small>v2.0</small></h1>
        </div>
        <button class="btn btn-default pull-left" ng-click="toggleSidebar()">{{ action }} sidebar</button>
    </div>

    <div class="container-fluid" ng-cloak>
        <div class="main">
            <div class="sidebar" ng-show="show" ng-controller="NavigationCtrl">
                <ul class="nav nav-pills nav-stacked">
                    <li ng-class="{ active: isActive('/characters') }">
                        <a href="/#/characters">Characters</a>
                    </li>
                    <li ng-class="{ active: isActive('/encounters') }">
                        <a href="/#/encounters">Encounters</a>
                    </li>
                </ul>

                <div class="panel panel-default">
                    <div class="panel-heading">
                        Dice roller
                    </div>
                    <form class="form-horizontal navbar-form" ng-submit="rollDice()">
                        <div class="input-group input-group-sm">
                            <input class="form-control" type="text" placeholder="ex. 3d6 + 4" name="name" ng-model="rollQuery">
                        </div>
                        <input class="btn btn-primary btn-sm" type="submit" value="Roll" />
                    </form>
                    <div ng-show="rollResult">
                        <div class="roll-result">
                            <span ng-bind="rollResult"></span>
                        </div>
                    </div>
                </div>
            </div>

            <div ng-class="{'main-content': show, 'full-content': !show}">
                <div ng-view></div>
            </div>
        </div>
    </div>
</body>
</html>
