<div class="form-group input-group-md" ng-class="{ 'has-error': errors.name }">
    <label class="control-label" for="name">Name</label>
    <input class="form-control" type="text" required name="name" ng-model="character.name">
    <div ng-repeat="error in errors.name">
        <span class="help-inline">{{ error }}</span>
    </div>
</div>

<div class="form-group input-group-md" ng-class="{ 'has-error': errors.description }">
    <label class="control-label" for="description">Description</label>
    <textarea class="form-control" name="description" ng-model="character.description"></textarea>
    <div ng-repeat="error in errors.description">
        <span class="help-inline">{{ error }}</span>
    </div>
</div>

<div class="form-group input-group-md" ng-class="{ 'has-error': errors.max_hp }">
    <label class="control-label" for="max_hp">Max HP</label>
    <input class="form-control" type="number" name="max_hp" ng-model="character.max_hp">
    <div ng-repeat="error in errors.max_hp">
        <span class="help-inline">{{ error }}</span>
    </div>
</div>

<div class="form-group input-group-md" ng-class="{ 'has-error': errors.is_player }">
    <label class="control-label" for="is_player">Player</label>
    <input class="form-control" type="checkbox" ame="is_player" ng-model="character.is_player">
    <div ng-repeat="error in errors.is_player">
        <span class="help-inline">{{ error }}</span>
    </div>
</div>

<div class="form-group">
    <input class="btn btn-default" type="submit" value="Save" />
</div>
