<h1>{{ encounter.name }}</h1>

<div class="panel panel-default">
    <div class="panel-heading">
        Add a character
    </div>
    <div class="panel-body">
        <form class="form-inline" role="form" ng-submit="addCharacter()">
            <div class="form-group input-group-md" ng-class="{ 'has-error': errors.name }">
                <label class="control-label" for="initiative">Initiatve</label>
                <input class="form-control" type="number" required name="initiative" ng-model="newCharacter.initiative">
            </div>

            <div class="form-group input-group-md" ng-class="{ 'has-error': errors.notes }">
                <label class="control-label" for="notes">Notes</label>
                <input class="form-control" type="text" name="notes" ng-model="newCharacter.notes">
            </div>

            <div class="form-group input-group-md" ng-class="{ 'has-error': errors.character }">
                <label class="control-label" for="add_character">Character</label>
                <select
                    class="form-control"
                    name="add_character"
                    ng-model="newCharacter.url"
                    ng-options="character.url as character.name for character in characters track by character.url"
                ></select>
            </div>

            <div class="form-group">
                <input class="btn btn-primary" type="submit" value="Add" />
            </div>
        </form>
    </div>
</div>

<div class="panel panel-default" ng-show="encounter.characters.length > 0">
    <div class="panel-heading">
        <button ng-click="advanceInit()" class="btn btn-info btn-sm">Advance initiative</button>
        round {{ encounter.current_round }}
    </div>
    <table class="table table-bordered table-striped" ng-show="encounter.characters.length > 0">
        <thead>
            <tr>
                <th>Name</th>
                <th>Notes</th>
                <th>Initiative</th>
                <th>HP</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr
                ng-class="{info: character.initiative === encounter.current_initiative}"
                ng-repeat="character in encounter.characters | orderBy : 'initiative' track by character.id"
            >
                <td>
                    <span ng-if="character.is_player || character.description.length == 0">
                        {{ character.name }}
                    </span>
                    <span ng-if="!character.is_player && character.description.length > 0">
                        <a href ng-click="showCharacter(character)">{{ character.name }}</a>
                    </span>
                </td>
                <td>
                    <span ng-hide="character.is_player">
                        <a href editable-text="character.notes" onbeforesave="updateCharacter(character)">{{character.notes || '...' }}</a>
                    </span>
                </td>
                <td>
                    {{ character.initiative }}
                    <div class="pull-right">
                        <button class="btn btn-default btn-xs" ng-click="increaseInitiative(character)"><i class="glyphicon glyphicon-arrow-up"></i></button>
                        <button class="btn btn-default btn-xs" ng-click="decreaseInitiative(character)"><i class="glyphicon glyphicon-arrow-down"></i></button>
                    </div>
                </div>
                </td>
                <td>
                    <span ng-if="!character.is_player">
                        <div class="fraction">
                            <span class="fraction-numerator">
                                {{ character.current_hp }}
                            </span>
                            <span class="fraction-bar">
                                /
                            </span>
                            <span class="fraction-denominator">
                                {{ character.max_hp }}
                            </span>
                        </div>
                        <form class="form-inline inline">
                            <div class="input-group">
                                <div class="input-group-btn">
                                    <button class="btn btn-warning" ng-click="hurtCharacter(character)">Hurt</button>
                                </div>
                                <input class="form-control" type="number" ng-model="character.hp_change_value">
                                <div class="input-group-btn">
                                    <button class="btn btn-success" ng-click="healCharacter(character)">Heal</button>
                                </div>
                            </div>
                        </form>
                    </span>
                </td>
                <td>
                    <button class="btn btn-danger btn-sm" ng-click="removeCharacter(character)">Remove</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>


<div class="row">
    <div class="col-sm-12">
        <button ng-click="end()" class="btn btn-danger">End this encounter</button>
    </div>
</div>


<script type="text/ng-template" id="characterDetailsModal.html">
    <div class="modal-header">
        <h3 class="modal-title">{{ character.name }}</h3>
    </div>
    <div class="modal-body">
        {{ character.description }}
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" type="button" ng-click="ok()">OK</button>
    </div>
</script>
