<h1>{{ encounter.name }}</h1>

<div class="panel panel-default">
    <div class="panel-heading">
        Add a new character
    </div>
    <div class="panel-body">
        <form class="form-inline" role="form" ng-submit="addCharacter()">
            <div class="form-group input-group-md">
                <label class="control-label" for="initiative">Initiatve</label>
                <input class="form-control" type="number" required name="initiative" ng-model="newCharacter.initiative">
                <div ng-repeat="error in errors.name">
                    <span class="help-inline">{{ error }}</span>
                </div>
            </div>

            <div class="form-group input-group-md">
                <label class="control-label" for="add_character">Character</label>
                <select class="form-control" name="add_character" ng-model="newCharacter.url" ng-options="character.url as character.name for character in characters track by character.url"></select>
            </div>

            <div class="form-group">
                <input class="btn btn-primary" type="submit" value="Add" />
            </div>
        </form>
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading">
        <button ng-click="advanceInit()" class="btn btn-info btn-sm">Advance</button>
        <span ng-show="encounter.current_round">
            round {{ encounter.current_round }}    
        </span>
    </div>
    <div class="panel-body">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Initiative</th>
                    <th>HP</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-class="{info: character.initiative == encounter.current_initiative}" ng-repeat="character in encounter.characters | orderBy:'initiative' track by character.id">
                    <td>
                        {{ character.name }}
                    </td>
                    <td>
                        <button class="btn btn-default btn-sm" ng-click="decreaseInitiative(character)"><i class="fa fa-minus"></i></button>
                        {{ character.initiative }}
                        <button class="btn btn-default btn-sm" ng-click="increaseInitiative(character)"><i class="fa fa-plus"></i></button>
                    </td>
                    <td>
                        <span ng-if="!character.is_player">
                            {{ character.max_hp / character.current_hp * 100 }}%
                        </span>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>


<div class="row">
    <div class="col-sm-12">
        <button ng-click="end()" class="btn btn-danger">End this encounter</button>        
    </div>
</div>

