<div class="form-group input-group-md">
    <label for="name">Name</label>
    <input class="form-control" type="text" required name="name" ng-model="npc.name">
</div>

<div class="form-group input-group-md">
    <label for="description">Description</label>
    <input class="form-control" type="text" name="description" ng-model="npc.description">
</div>

<div class="form-group input-group-md">
    <label for="max_hp">Max HP</label>
    <input class="form-control" type="number" min="1" required name="max_hp" ng-model="npc.max_hp">
</div>

<div class="form-group">
    <input class="btn btn-default" type="submit" value="Save" />
</div>
