@import "../../bower_components/components-font-awesome/less/font-awesome.less";

@import "../../bower_components/bootstrap/less/bootstrap.less";

@import "../../bower_components/bootswatch/sandstone/bootswatch.less";
@import "../../bower_components/bootswatch/sandstone/variables.less";


div.title {
    .text-center();
    .jumbotron;
}


div.main {
    .make-row();
    .sidebar {
        .make-md-column(2);
    }

    .main-content {
        .make-md-column(10);
    }
}


.roll-result {
    .text-center();
}


.fraction {
    display: inline-block;
    position: relative;
    vertical-align: middle;
    letter-spacing: 0.001em;
    text-align: center;
    font-size: 12px;
    > span {
        display: block;
        padding: 0.1em;
    }
    span.fraction-denominator {
            border-top: thin solid black;
    }
    span.fraction-bar {
            display: none;
    }
}
